TELEGRAM_BOT_TOKEN=
SAMSARA_API_TOKEN_1=
SAMSARA_API_TOKEN_2=
SAMSARA_API_TOKEN_3=
ALERT_CHAT_ID=
CHECK_INTERVAL_MINUTES=15
REPEAT_ALERT_MINUTES=29
FUEL_THRESHOLD=60
AUTO_CLEAR_INCREASE=30
AUTO_CLEAR_FULL_LEVEL=85
